  <%= form_for(@gram) do |f| %>
  <% if @gram.errors.any? %>
  <div>
  <ul>
  <% @gram.errors.full_messages.each do |m| %>
  <li><%=m%></li>
  <%end%>
  </ul>
  </div>
  <% end %>

  <div>
  <%=f.hidden_field :image_cache %>
  <%=link_to 'Upload Image', '#', class: 'js-gram-image-upload'%>
  </div>
    <div>
      <%=f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%=f.label :content %>
      <%= f.text_area :content %>
    </div>
    <div>
      <%=f.label :country_code %>
      <%= f.country_select :country_code, include_blank: true, priority_countries: ['SG','MY']%>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
